.NavBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

#welcomeImage {
    z-index: -2;
    opacity: 45%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.NavBar-items {
    z-index: 5;
    margin :0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #0E0B16;
    font-size: 20px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.NavBar-items li {
    float: left;
    display: inline;

    margin-left: 15px;
}

.NavBar-items li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavBar-items li a:hover {
    background-color: darkblue;
}

.NavBar-items-right {
    float: right;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    font-size: 20px;
    border-radius: 5px;
}

.NavBar-items-right li:hover {opacity: 0.8;}

#logo {
    height: 50px;
    width: auto;
    margin: 0 50px 0 50px;
}

#profile-logo-img {
    object-fit: cover;
    height: 50px;
    width: auto;
    margin-top: -10px;
}

#profile-logo-container {
    height: 28px;
    width: auto;
}

#log-out {
    color:white;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: darkblue;
    font-size: 20px;
    padding: 14px 16px;
    border-radius: 5px;
}

#log-out:hover {background-color: darkblue;}


.NavBar-items-right-item {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: darkblue;
    font-size: 20px;
    border-radius: 5px;
}