body {overflow-x: hidden;}
.properties-filters {
    width: 100%;
    border-bottom: 2px black solid;
    background-color: rgb(20,20,20);
}
#property-button {
    background-color: transparent;
    width: 100%;
}
