

.upload {
    background-color: #d7d5d5;
    border: 2px solid black;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 10px;
}
input {
    border-radius: 10px;
}
textarea {
    border-radius: 10px;
}
.description {
    margin-left: -150px;
}
.main-info {
    display: inline-flex;
    margin-left: 50px;
}
.additional {
    display: inline-flex;
    width: 100%;
}
.additional-type {
    margin: auto;
    border: 2px solid ;
    border-radius: 10px;
    width: 40%;
    padding: 5px;
}
.additional-interior {
    margin: 20px;
    border: 2px solid ;
    border-radius: 10px;
    width: 40%;
    padding: 5px;
}
.location-details {
    margin: auto;
    width: 500px;
    display: inline-flex;
}
.location {
   padding-right: 20px;
}
.details {
    padding-right: 20px;
    width: 260px;
}
#submit-button {
    color: white;
    width: 500px;
    background-color: darkblue;
    border-radius: 10px;
}
